CASCADE_LOGIN = {'username': "", 'password': ""}
GH_LOGIN

SOAP_URL = ""
WSDL_URL = ''

SENTRY_URL = ''

ROBOTS_FILE
ROBOTS_PRODUCTION_FILE
SITEMAP_INDEX_PRODUCTION_FILE
SITEMAP_PRODUCTION_FILE

HUMANS_PRODUCTION_FILE

SITE_ID = ''
STAGING_DESTINATION_ID = ''