CASCADE_LOGIN = {'username': "", 'password': ""}

BASE_URL = ""
SOAP_URL = ""
WSDL_URL = ''

SITEMAP_FILE = ""
ROBOTS_FILE = ""
HUMANS_FILE = ""
SITEMAP_INDEX_FILE = ""
SITEMAP_BASE_FOLDER_ID = ""

SENTRY_URL = ''

SFTP_SSH_KEY_PATH = ''
SFTP_SSH_KEY_PASSPHRASE = ''
SFTP_REMOTE_HOST_PUBLIC_KEY = ''
SFTP_REMOTE_HOST = ''
SFTP_USERNAME = ''
SITEMAP_OUTPUT_FILE_PATH = '/opt/sitemap/sitemap.xml'